
/* 
	This tutorial draws from "Don't Overthink Grids" available at
	http://css-tricks.com/dont-overthink-it-grids/
*/


/*
	With this selector, we are specifying that all objects use
	the border-box model (not the content-box model)
*/
*, *:after, *:before {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}


/*
	Here we are using a 'fancy' css selector that is 
	specifying if the class of an item starts with
	'col-', then we should apply the styling listed
*/
[class^='col-'] {
	float: left;
	padding: 0; 
	/*text-align: center;  center the content in this block */
}

/*version with things align to the right*/
[class^='colR-'] {
  float: left;
  padding: 0; 
  /*text-align: left;  center the content in this block */
}


article {
  padding: 0em 2em; 
}

figure {
  margin: 0;
}

/* the side titles */

p.sideNote {
  font-size: .9em;
}

h3.sideTitle {
  font-family: 'Arvo', cursive;
  color: #3333CC;
}


/*
  Here we are defining our 80% wide column (for a 10 col grid)
*/
.col-8of10 {
  width: 80%;
}


.col-2of10 {
  width: 20%;
}

/*
	Here we are defining our 50% wide column (for a 10 col grid)
*/
.col-5of10 {
	width: 50%;
}

.col-7of10 {
  	width: 70%;
}


/*
	nav specific 25% layouter
	[TODO] Change to 3of12 when finished editing grid layout
*/
nav .col-2of10 {
	width: 25%;
}


.grid:after {
	content: "";
	display: block;
	clear: both;
}

img.mainEvent {
	height: 200; 
	max-width: 90%;
	border: 1px solid #888888; 
}


/*
	Using media queries for responsive grid layouts
*/
@media (max-width: 50em) {

	.col-8of10 {
    width: 100%;
	}

  	.col-5of10 {
		width: 100%;
	}

	.col-3of10 {
    width: 100%;
  	}

	.col-2of10 {
		width: 100%;
	}

	img.mainEvent {
	width: 100%;
	}

	.col-imgof10  {
    width: 50%;
  	}

  	.col-7of10 {
    width: 100%;
	}

	textarea {
    width: 100%;
 	}

}

/*
  Here we are defining our 80% wide column (for a 10 col grid)
*/
.col-imgof10 {
  width: 20%;
}

@media (max-width: 70em) {

  .col-imgof10  {
    width: 20%;
  }
}

@media (max-width: 25em) {

  .col-imgof10  {
    width: 100%;
  }

}


img {
/*	height: auto; 
  width: auto;*/
  max-width: 100%;
  border: 1px solid #888888; 
	float:left;
}
