
/* 
	This tutorial draws from "Don't Overthink Grids" available at
	http://css-tricks.com/dont-overthink-it-grids/
*/


/*
	With this selector, we are specifying that all objects use
	the border-box model (not the content-box model)
*/
*, *:after, *:before {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}


/*
	Here we are using a 'fancy' css selector that is 
	specifying if the class of an item starts with
	'col-', then we should apply the styling listed
*/
[class^='col-'] {
	float: left;
	 /*removed to adj: ;ust Logo*/
	padding: 0 10px;   
	width: 8.33%; /*default width of 1 column*/
	position: relative; 
}

article {
  /*padding: 0em 2em; */
}

figure {
  margin: 0;
}

/* the side titles */

p.sideNote {
  font-size: .9em;
}

li.sideNote {
  font-size: .9em;
  color: #5C3D00
}

h3.sideTitle {
  font-family: 'Arvo', cursive;
  color: rgb(236,27,36);
  margin-bottom: -1em;
}

h3.address {
  font-family: 'Arvo', cursive;
  color: rgb(236,27,36);
}

h4.orderLabelsTop {
  font-family: 'Arvo', cursive;
  color: rgb(236,27,36);
  -webkit-margin-before: -.33em;
  -webkit-margin-after: .33em;
   -webkit-margin-start: 0px;
   -webkit-margin-end: 0px;
}

h4.orderLabelsSide {
  font-family: 'Arvo', cursive;
  color: rgb(236,27,36);
  -webkit-margin-before: -.33em;
  -webkit-margin-after: .33em;
   -webkit-margin-start: 0px;
   -webkit-margin-end: 0px;
}

h4.addressLocation {
  font-family: 'Arvo', cursive;
  color: rgb(236,27,36);
  margin-bottom: -1em;
}

h6.date {
  font-family: 'Arvo', cursive;
  color: rgb(236,27,36);
}


/* new fancy 12 columns*/
.col-1 { 
	/*100 divided by 12*/
	width: 8.33%; 
}
.col-2 { width: 16.66%; }
.col-3 { width: 25%; }
.col-4 { width: 33.33%; }
.col-5 { width: 41.66%; }
.col-6 { width: 50%; }
.col-7 { width: 58.33%; }
.col-8 { width: 66.66%; }
.col-9 { width: 75%; }
.col-10 { width: 83.33%; }
.col-11 { width: 91.66%; }
.col-12 { width: 100%; }

/*new code to add logo* to navbar that divides
the 12 columns into 5 equal column (2.4 times 5 = 12) the*/
.col-2o4 { width: 20%;}

h3 {
	font-family: 'Arvo', cursive;
  	color: rgb(236,27,36);
	margin-top: 0;
}

.thumbnail>figure>img{
	height: auto;
	width: 100%;
}

.thumbnail{
	margin-bottom: 1em;
}

.overlay{
    width: 100%;
    height: 100%;
    /* float: left; */
    /*background-color: rgb(121,214,214);*/
    position: absolute; 
    /*align-content: top;*/
    /* vertical-align: top; */
    top: 0;
    left: 0;
    opacity: 0;
    transition: opacity .5s ease-out;

}

.overlay:hover{
	opacity: 1;
    background-color: rgba(121,214,214,0.5);
}


/*
	nav specific 25% layouter
	[TODO] Change to 3of12 when finished editing grid layout
*/
/*nav .col-2 {
	width: 25%;
}*/



.grid:after {
	content: "";
	display: block;
	clear: both;
}

img.mainEvent {
	max-width: 100%;
	height: auto; 
	border: 1px solid #888888; 
}

.paying{
	margin-top: 1em;
}

input.gallon { 
    font-family: 'Open Sans';
    background-color: #FEFEFE;
    padding: 0em;
    width:100%;
}

.Total{
	font-weight: 2em;
}

/*
	Using media queries for responsive grid layouts
*/

@media (max-width: 70em) {

	.thumbnail{
		height: auto;
		width: 33%;
	}
	h4.orderLabelsTop{
		visibility: hidden;
		opacity: 0;
	}
	h4.orderLabelsSide{
		visibility: visible; ;
		opacity: 1;
		margin-bottom: -.8em; 
		margin-top:-.5em;
	}
	.cart{
		width: 50%;
		margin-bottom: -.8em; 
		margin-top:-.5em;
	}
	.removeFromCart{
		width: 50%;
		margin-bottom: 0em; 
		margin-top:1em;
	}


}

@media (max-width: 55em) {

	.thumbnail{
		height: auto;
		width: 50%;
	}
}

@media (max-width: 40em) {

	.col-8 {
    width: 100%;
	}

  	.col-5 {
		width: 100%;
	}

	.col-3 {
    	width: 100%;
  	}

	.col-2 {
		width: 100%;
	}

	.thumbnail{
		height: auto;
		width: 50%;
	}

	nav .col-2 {
		width: 100%;
	}

	img.mainEvent {
	width: 100%;
	height: auto;
	margin: 0;
	}

	.col-img  {
    width: 50%;
  	}

  	.col-7 {
    width: 100%;
	}

	.col-9 {
    width: 100%;
	}

	.col-10{
	width: 100%;
	}

	textarea.form {
    width: 100%;
 	}
	
	.col-2.navitem{
		padding: 0 12px;
	}

	.col-2o4{
		padding: 0 12px;
		width:100%;
	}

	.col-6{
		width: 100%;
	}

	.contactInfo{
		width: 100%;
	}

	
	
}
	
@media (max-width: 60em) {
	.cart{
		width: 70%;
		margin-bottom: -.8em; 
		margin-top:-.5em;
	}
	.removeFromCart{
		width: 70%;
		margin-bottom: 0em; 
		margin-top:1em;
	}
	.paying{
		width: 33.33%;
	}

	input.gallon {
		width: 20%;
	}
	.quantity {
		width: 33.33%;
	}

}

@media (max-width: 25em) {

  .col-img  {
    width: 100%;
  }

  .contactInfo{
  	width: 100%;
  }
	
  .paying{
		width: 100%;
	}


}


img.logo {
/*	height: auto; 
  width: auto;
  max-width: 100%; 
  border: 1px solid #888888; */ 
    max-width: 875px;
    width: 100%;
    height: auto;
    float: right;
	vertical-align: bottom;
}

img.mainEvent {
	width: 90%;
	display: block;
    /*margin-left: auto;*/
    margin-right: auto;
	}

.navitem {
	padding:0;
	font-size:0;
	margin: 0;
}

.flavour {
	display: block;
    /*margin-left: auto;*/
	}

.type {
	display: block;
}