

/*
	With this selector, we are specifying that all objects use
	the border-box model (not the content-box model)
*/
*, *:after, *:before {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}


/*
	Here we are using a 'fancy' css selector that is 
	specifying if the class of an item starts with
	'col-', then we should apply the styling listed
*/
[class^='col-'] {
	float: left;
	padding: 0 10px;   
	width: 8.33%; /*default width of 1 column*/
	position: relative; 
}

article {
  /*padding: 0em 2em; */
}

figure {
  margin: 0;
}

/* the side titles */

p.sideNote {
  font-size: .9em;
}

li.sideNote {
  font-size: .9em;
  color: #5C3D00
}

h3.sideTitle {
  font-family: 'Arvo', cursive;
  color: rgb(219,111,80);
  margin-bottom: -1em;
}

h3.address {
  font-family: 'Arvo', cursive;
  color: rgb(219,111,80);
}

h4.addressLocation {
  font-family: 'Arvo', cursive;
  color: rgb(219,111,80);
  margin-bottom: -1em;
}

h6.date {
  font-family: 'Arvo', cursive;
  color: rgb(219,111,80);
}


/* new fancy 12 columns*/
.col-1 { 
	/*100 divided by 12*/
	width: 8.33%; 
}
.col-2 { width: 16.66%; }
.col-3 { width: 25%; }
.col-4 { width: 33.33%; }
.col-5 { width: 41.66%; }
.col-6 { width: 50%; }
.col-7 { width: 58.33%; }
.col-8 { width: 66.66%; }
.col-9 { width: 75%; }
.col-10 { width: 83.33%; }
.col-11 { width: 91.66%; }
.col-12 { width: 100%; }

h3 {
	font-family: 'Arvo', cursive;
  	color: rgb(219,111,80);
	margin-top: 0;
}

.thumbnail>figure>img{
	height: auto;
	width: 100%;
}

.thumbnail{
	margin-bottom: 1em;
}

.overlay{
    width: 100%;
    height: 100%;
    /* float: left; */
    /*background-color: rgb(121,214,214);*/
    position: absolute; 
    /*align-content: top;*/
    /* vertical-align: top; */
    top: 0;
    left: 0;
    opacity: 0;
    transition: opacity .5s ease-out;

}

.overlay:hover{
	opacity: 1;
    background-color: rgba(121,214,214,0.5);
}


/*
	nav specific 25% layouter
	[TODO] Change to 3of12 when finished editing grid layout
*/
/*nav .col-2 {
	width: 25%;
}*/

hr {
	border: 0;
	width: 90%;
	color: #5C3D00;
	background-color: #5C3D00;
	height: 1px;
}

.grid:after {
	content: "";
	display: block;
	clear: both;
}

img.mainEvent {
	max-width: 100%;
	height: auto; 
	border: 1px solid #888888; 
}


/*
	Using media queries for responsive grid layouts
*/

@media (max-width: 70em) {

	.thumbnail{
		height: auto;
		width: 33%;
	}
}

@media (max-width: 55em) {

	.thumbnail{
		height: auto;
		width: 50%;
	}
}

img.logo {
/*	height: auto; 
  width: auto;
  max-width: 100%; 
  border: 1px solid #888888; */ 
    max-width: 875px;
    width: 100%;
    height: auto;
    float: right;
	vertical-align: bottom;
}






img.mainEvent {
	width: 90%;
	display: block;
    /*margin-left: auto;*/
    margin-right: auto;
	}

.navitem {
	padding:0;
	font-size:0;
	margin: 0;
}

.flavour {
	display: block;
    /*margin-left: auto;*/
	}

.type {
	display: block;
}

.col-3.logo {
	width: 25%;
}

img.logo {
	width:300px;
	float:left;

	-webkit-transition: width 0.4s ease-out;
  	transition: width 0.4s ease-out;
}

.col-2.navitem {
	float: right;
}

@media (max-width: 60em) {
	img.logo {
		width:200px;
	}

	nav a.navigation{
		margin: 4em 0 0 0;
	}

}

@media (max-width: 40em) {

	.col-8 {
    width: 100%;
	}

  	.col-5 {
		width: 100%;
	}

	.col-3 {
    	width: 100%;
  	}

	.col-2 {
		width: 100%;
	}

	.thumbnail{
		height: auto;
		width: 50%;
	}

	nav .col-2 {
		width: 100%;
	}

	img.mainEvent {
	width: 100%;
	height: auto;
	margin: 0;
	}

	.col-img  {
    width: 50%;
  	}

  	.col-7 {
    width: 100%;
	}

	.col-9 {
    width: 100%;
	}

	.col-10{
	width: 100%;
	}

	textarea.form {
    width: 100%;
 	}
	
	.col-2.navitem{
		padding: 0 12px;
	}

	.col-2o4{
		padding: 0 12px;
		width:100%;
	}

	.col-6{
		width: 100%;
	}

	img.logo {
		width: 50%;
		float: none;
	}

	.col-3.logo {
		text-align: center;

	}

	nav a.navigation{
		margin: .45em 0 0 0;
	}
	

}

@media (max-width: 25em) {

  .col-img  {
    width: 100%;
  }
	

}

