/*
BY: Zen Henri T. dela Cruz 301122155
AND Glenn Cheng
P01: Process
IAT 339 Webdesign
Instructor: Andrew Hawryshkewich
TA: Justin Ma
*/

body {
  font-family: 'Open Sans', sans-serif;
  padding: .5rem 2rem;
  background-color: rgb(246,246,226);
}

section {
  margin: 0 0 .5em;
  padding: 0.5em 0;
}
section h3 {
  margin-bottom: 0;
}
section p {
  margin-top: 0;
}
section code {
  background-color: #EEE;
  padding: 0.5em 0.75em;
}
section#footer{
  margin: 0.5em auto;
  width: 90%;
  border-top: 1px solid #5C3D00;
  clear: both;
}

section:first-of-type {
  padding-top: 0;
}

/*LINKS DEFAULT*/
a {
  text-decoration: inherit;
  font-style: inherit;
  color: inherit;
}

a:link, a:visited {
 border:none;
 text-decoration:underline;
 font-style:normal;
 color: rgb(6,127,180);
}

a:hover {
 text-decoration: none;
 color: rgb(236,27,36);
}

/*BUTTON*/

a.button {
  font-family: 'Arvo', serif;
  display: inline-block;
  padding: 0.5em 0.75em;
  color: white;
  background-color: rgb(76,118,163);
  border-radius: 0em;
  text-decoration: none;
  -webkit-transition: background-color 0.2s ease-out;
  transition: background-color 0.2s ease-out;
}

a.button:focus, a.button:hover {
  background-color: rgb(121,214,214);
  color: #5C3D00;
}
a.button:active {
  background-color: rgb(121,214,214);
}


/*FORM*/

form {
  display: block;
  background-color: rgb(220, 220, 220);
  padding: 1em 1em;
}

label.form { 
    font-family: 'Arvo', serif;
    font-weight: 400;
    /*color: rgb(76,118,163);*/
    color: rgb(6,127,180);
    font-size: .9em;
    display: block;

}

input.form { 
    font-family: 'Open Sans';
    background-color: #FEFEFE;
    padding: 0.4em;
    width:100%;
}

input.form:focus, input.form:hover { 
    background-color: #FFFFFF;
}

textarea.form{
  font-family: 'Open Sans';
    background-color: #FEFEFE;
    width: 80%; 
    height: 10em;
    padding: 1em;
    margin-top: 1em;
}

textarea.form:focus, textarea.form:hover{
    background-color: #FFFFFF;
}

input.form-submit { 
  font-family: 'Arvo', serif;
  display: block;
  padding: 0.5em 0.75em;
  color: white;
  /*background-color: rgb(76,118,163);*/
  background-color: rgb(6,127,180);
  border-radius: 0.25em;
  text-decoration: none;
  -webkit-transition: background-color 0.2s ease-out;
  transition: background-color 0.2s ease-out;
    /*background-color: #FFFFFF;*/
}
input.form-submit:focus, input.form-submit:hover { 
    background-color: rgb(121,214,214);

  color: #5C3D00;
}
input.form-submit:active{ 
    background-color: rgb(121,214,214);
}

/*TEXTUAL*/

h2.title {
  font-family: 'Arvo', cursive;
  color: rgb(236,27,36);
}



p.textual {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  color: #5C3D00;
}

p {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  color: #5C3D00;
}

p span 
{
    display: block;
}

a.important {
  color: #6699FF;
  text-decoration: none;
}
a.important:focus, a.important:hover {
  color: #FF0066;
  text-decoration: none;
}
a.important:active {
  color: #5C3D00;
  text-decoration: none;
}

.input-wrapper {
  margin: 0 0 1em 0; 
}

/*IMAGE*/

img.image{
  /*width: 25%;*/
  /*height: 25%;*/
}

figure.gallery {
  /*display: inline;*/
  position: relative;
  margin: 2em 2em 2em 2em; 
}

figure{
  display: block;
  position: relative;
  overflow: hidden;
}

figcaption {
  position: absolute;
  float: right;
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  bottom: .25em;
  left: .50em;
  color: white;
}

img.big {
  margin-left: auto;
    margin-right: auto;
    width: 100%;
}

/*KEY GROUPINGS*/

nav a.navigation {
  font-family: 'Arvo', serif;
  display: inline-block;
  color: white;
  /*background-color: rgb(76,118,163); old colour*/
  background-color: rgb(6,127,180);
  /*background-color: rgb(45,75,145);*/
  font-size: 1.25rem;
  text-decoration: none;

  margin: 7em 0 0 0; 

  padding: 0.25em 0.45em; 

  -webkit-transition: background-color 0.5s ease-out;
  transition: background-color 0.5s ease-out;

  -webkit-transition: margin 0.4s ease-out;
  transition: margin 0.4s ease-out;
}

nav a.navigation:first-of-type {
  margin-left: 0;
}

nav a.navigation:active, nav a.navigation:hover {
  background-color: rgb(121,214,214);
  color: #5C3D00;
}

nav a.selected {
  background-color: rgb(236,27,36);
  font-weight: bold;
}


nav a.selected:active, nav a.selected:hover {
  background-color: rgb(163,50,41);
  color: white;
}

nav a.orderHere {
  background-color: rgb(45,75,145);
}


nav a.orderHere:active, nav a.orderHere:hover {
  background-color: rgb(121,214,214);
  color: white;
}

nav a {
  width: 100%;
}


.colorpalette {
  display: inline-block;
  height:150px;
  width:300px;
  text-align: center;
  padding-top: 10px;
}

/*RED colours*/
.colorpalette.mainred{
  background-color: rgb(236,27,36);
}

.colorpalette.darkred{
  background-color: rgb(109,45,48);
}

.colorpalette.darkred1{
  background-color: rgb(108,12,17);
}

.colorpalette.lightred{
  background-color: rgb(239,99,105);
}

.colorpalette.brightred{
  background-color: rgb(185,21,28);
}

/*BLUE colours */

.colorpalette.mainblue{
  background-color: rgb(45,75,145);
}

.colorpalette.darkblue{
  background-color: rgb(29,48,94);
}

.colorpalette.darkblue1{
  background-color: rgb(100,118,163);
}

.colorpalette.lightblue{
  background-color: rgb(69,114,221);
}

.colorpalette.brightblue{
  background-color: rgb(135,161,221);
}


.colorpalette.blue{
  background-color: rgb(76,118,163);
}
.colorpalette.darkblue{
  background-color: rgb(18,63,112);
}
.colorpalette.lightblue{
  background-color: rgb(121,214,214);
}
.colorpalette.lightorange{
  background-color: rgb(219, 111, 80);
}
.colorpalette.lightred{
  background-color: rgb(163,50,41);
}



#quicklinks{
  background-color: rgb(220,220,220);
  width: 20em;
  padding: .25em 1em;
  margin-left: .5em;
}

ul.quicklinks li {
  list-style-type: none;
}


@media (max-width: 40em) {

  img.logo {
    width: 100%;
    height: auto;

  }

  nav a.navigation{
    margin: 0.45em 0 0 0; 
  }


}

.copyright {
    font-weight: 700;
    font-size: 0.80em;
    display: block;
    text-align: center
  }